* {
    font-family: "Niramit", sans-serif;
    box-sizing: border-box;
    user-select: none;
}

html, 
body {
    margin: 0;
    padding: 0;
    min-width: 370px;
    background-color: hsl(291, 50%, 95%);
    color: #2d094e;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Archivo Narrow", sans-serif;
    font-stretch:extra-condensed;
    font-size: 0.95rem;
    padding: 0.5rem;
    background-color: hsl(291, 67%, 91%);    
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-logo {
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 0;
    filter: invert(12%) sepia(100%) saturate(500%) hue-rotate(210deg);
}
.nav-left p { 
    font-weight: 800;
    margin:0 0 1px;
    padding: 0;
    display: block;
}
.nav-right {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 3px;
}
.nav-right a {  
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1em;
    color: #2d094e;
    cursor: pointer;
}

/* Dynamic Content */
.content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height:fit-content;
    justify-content: center;
}
.content h2 {
    align-self: start;
    margin: 0.4em 0 0;
    line-height: 1.2em;
}
.content h3 {
    margin: 1em 0 0 0;
}
.content h4 {
    align-self: end;
    margin: 0;
    font-size: 0.75em;
    font-weight: 300;
}
.content h5 {
    margin: 2em 0 0 0;
    text-align: center;
    font-size: 1em;

}
.content p {
    align-self: start;
    line-height: 1.3em;
    margin: 0.75em 0;
}
/* Dynamic content: Headline */
.main-headline {
    background-image: url('../images/main-image.jpg');
    color:white;
    min-height: 300;
    display: grid;
    grid-template: 110px 1fr 2fr / 90%;
    width: 100%;   
}
.main-headline > p {
    text-shadow: 2px 2px 3px black;
}
/* Dynamic content - single blog post */
.blog-post-page, .about-me {
    margin: 1em 1em 0;
}
.blog-post-page > img {
    width: 100%;
}

/* Dynamic content - about me */
.about-me img {
    margin: 1em 0;
    width: 40vw;
    max-width: 280px;
    align-self: flex-start;
}

/* Blog Listings */
main {
    display: grid;
    grid-template: 1fr / 90%;
    justify-content: center;
}

/* Blog listing */
.post-block {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.post-block img {
    width: 100%;
    border: 10px white solid;
    box-shadow: 1px 1px 2px rgb(95, 95, 95);
    align-self: center;
    box-sizing: border-box;
}
.post-block h4 {
    margin: 1em 0 0;
    font-size: 0.75em;
    font-weight: 500;
}
.post-block h3 {
    margin: 0.5em 0 0 0;
    line-height: 1em;
    text-transform: lowercase;
    font-size: 1.25rem;
    font-weight: 700;
}
.post-block p {
    margin: 0.5em 0 1em;
    line-height: 1.2em;
}

/* Footer */
footer {
    background-color: hsl(271, 79%, 10%);
    color: white;
    font-family: "Archivo Narrow", sans-serif;
    font-stretch:extra-condensed;
    margin-top: 2em;
    padding: 1em;
    width: 100%;
    text-align: center;
}
footer h5 {
    margin: 0;
    font-weight: 900;
    font-size: .7rem;

}
footer p {
    font-size: .65rem;
    margin: 0;
    margin-top:3px;
    font-weight: 300;
}

@media (min-width: 800px) {

    nav {
        padding: 0.7rem 1rem;
        font-size: 1.25rem;
    }
    .nav-logo {
        width: 60px;
        height: 60px;
        margin-right: 0.5rem;
    }
    .nav-right a {  
        font-size: 1rem;
    }
    .main-headline {
        grid-template: 200px 1fr 2fr / 100%;   
    }
    .main-headline h2, 
    .main-headline p, 
    .main-headline h4 {
        margin-left: 2.5rem;
        max-width: 650px;
    }

    main {
        margin: 1rem 2.5rem 0;
        grid-template: 1fr / repeat(3,1fr);
        column-gap: 25px;
    }

    .blog-post-page, .about-me {
        margin: 1em  10em 0;
    }
    .about-me {
        display: grid;
        grid-template: auto / 280px 1fr;
    }
    .about-me > img {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
    .about-me > h2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        margin: 0 0 0 1.5rem;
        align-self: end;
    }
    .about-me > p {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        margin: 0.75rem 0 0 1.5rem;
    }
    .about-me > .blog-text {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
    }
    .about-me > h5 {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        align-self: center;
        margin: 1rem 0 0 0;
    }


}